<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firebirdberlin.nightdream"
    android:versionCode="268"
    android:versionName="2.9.6">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <application
        android:name=".NightDreamApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <service
            android:name=".NightDreamService"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/nightdream" />
        </service>

        <receiver
            android:name=".AdminReceiver"
            android:description="@string/useDeviceLockExplanation"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".mNotificationListener"
            android:enabled="@bool/use_NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".NightModeListener"
            android:enabled="true" />
        <service
            android:name=".services.AlarmService"
            android:enabled="true" />
        <service
            android:name=".services.AlarmNotificationService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.AlarmWifiService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.AlarmHandlerService"
            android:enabled="true" />

        <service
            android:name=".services.DownloadWeatherService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            android:enabled="true" />
        <service
            android:name=".services.LocationService"
            android:enabled="true" />
        <service
            android:name=".services.RadioStreamService"
            android:enabled="true" />
        <service
            android:name=".services.ScreenWatcherService"
            android:enabled="true" />
        <activity
            android:name=".PreferencesActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".NightDreamActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/ActivityTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.StopServiceReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="ACTION_STOP_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.PowerConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ScheduledAutoStartReceiver">
            <intent-filter>
                <action android:name="com.firebirdberlin.nightdream.ACTION_START_SCHEDULED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ChargingStateChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.WakeUpReceiver">
            <intent-filter>
                <action android:name="com.firebirdberlin.nightdream.WAKEUP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.ClockWidgetProvider"
            android:enabled="@bool/use_widget"
            android:icon="@drawable/widget_preview">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget_info" />
        </receiver>

        <service
            android:name=".services.WeatherUpdateJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".services.LocationUpdateJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".services.SqliteIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".WeatherForecastActivity"
            android:label="@string/forecast"
            android:theme="@style/SecondaryActivityTheme"
            android:parentActivityName=".NightDreamActivity">
        </activity>
        <activity
            android:name=".SetAlarmClockActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/alarm"
            android:theme="@style/AlarmClockActivityTheme"
            android:parentActivityName=".NightDreamActivity">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
