<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebirdberlin.nightdream"
    android:versionCode="316"
    android:versionName="2.10.38">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--https://developer.android.com/about/versions/14/changes/schedule-exact-alarms-->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <!-- for Android 32 and lower -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CATEGORY_LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".NightDreamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="nightdream"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".NightDreamService"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/nightdream" />
        </service>

        <receiver
            android:name=".AdminReceiver"
            android:description="@string/useDeviceLockExplanation"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="false">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".mNotificationListener"
            android:enabled="@bool/use_NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".services.AlarmService"
            android:foregroundServiceType="mediaPlayback"
            android:enabled="true" />
        <service
            android:name=".services.AlarmNotificationService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.AlarmWifiService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.RadioStreamService"
            android:foregroundServiceType="mediaPlayback"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ScreenWatcherService"
            android:foregroundServiceType="systemExempted"
            android:enabled="true" >

        </service>

        <activity
            android:name=".PreferencesActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".AlarmsPreferenceActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:parentActivityName=".SetAlarmClockActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".SmartHomePreferenceActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:parentActivityName=".SmartHomeActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".WeatherPreferenceActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:parentActivityName=".WeatherForecastActivity"
            android:theme="@style/PreferencesTheme" />

        <activity
            android:name=".WidgetPreferencesActivity"
            android:exported="false"
            android:theme="@style/PreferencesTheme"
            android:label="@string/preferences">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AlarmClockWidgetPreferencesActivity"
            android:exported="false"
            android:theme="@style/PreferencesTheme"
            android:label="@string/preferences">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".NotificationListActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/notifications"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/NotificationActivityTheme" />
        <activity
            android:name=".NotificationList.NotificationActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:parentActivityName=".NotificationListActivity"
            android:theme="@style/NotificationActivityTheme" />
        <activity
            android:name=".NightDreamActivity"
            android:configChanges="orientation|keyboard|screenSize|screenLayout"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/ActivityTheme"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <receiver android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.StopServiceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="ACTION_STOP_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.PowerConnectionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ScheduledAutoStartReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebirdberlin.nightdream.ACTION_START_SCHEDULED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".services.AlarmHandlerService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="com.firebirdberlin.nightdream.ACTION_SNOOZE_ALARM" />
                <action android:name="com.firebirdberlin.nightdream.ACTION_STOP_ALARM" />
                <action android:name="com.firebirdberlin.nightdream.ACTION_SKIP_ALARM" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.WakeUpReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebirdberlin.nightdream.WAKEUP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.ClockWidgetProvider"
            android:enabled="@bool/use_widget"
            android:icon="@drawable/widget_preview"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.AlarmClockWidgetProvider"
            android:enabled="@bool/use_widget"
            android:icon="@drawable/widget_preview"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/alarm_widget_info" />
        </receiver>

        <activity
            android:name=".WeatherForecastActivity"
            android:excludeFromRecents="true"
            android:label="@string/forecast"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/SecondaryActivityTheme" />
        <activity
            android:name=".SetAlarmClockActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/alarm"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/AlarmClockActivityTheme"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmartHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/smart_home"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/AlarmClockActivityTheme"
            android:exported="false"/>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.firebirdberlin.nightdream.CastOptionsProvider" />
    </application>

</manifest>