<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebirdberlin.nightdream"
    android:versionCode="299"
    android:versionName="2.10.21">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".NightDreamApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="nightdream"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".NightDreamService"
            android:configChanges="orientation|keyboard"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/nightdream" />
        </service>

        <receiver
            android:name=".AdminReceiver"
            android:description="@string/useDeviceLockExplanation"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".mNotificationListener"
            android:enabled="@bool/use_NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".NightModeListener"
            android:enabled="true" />
        <service
            android:name=".services.AlarmService"
            android:enabled="true" />
        <service
            android:name=".services.AlarmNotificationService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.AlarmWifiService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.AlarmHandlerService"
            android:enabled="true" />
        <service
            android:name=".services.DownloadWeatherService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.RadioStreamService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ScreenWatcherService"
            android:enabled="true" />

        <activity
            android:name=".PreferencesActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".AlarmsPreferenceActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:parentActivityName=".SetAlarmClockActivity"
            android:theme="@style/PreferencesTheme" />
        <activity
            android:name=".WeatherPreferenceActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:parentActivityName=".WeatherForecastActivity"
            android:theme="@style/PreferencesTheme" />

        <activity
            android:name=".WidgetPreferencesActivity"
            android:exported="false"
            android:theme="@style/PreferencesTheme"
            android:label="@string/preferences">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".NotificationListActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/notifications"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/NotificationActivityTheme" />
        <activity
            android:name=".NotificationList.NotificationActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:parentActivityName=".NotificationListActivity"
            android:theme="@style/NotificationActivityTheme" />
        <activity
            android:name=".NightDreamActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/ActivityTheme">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.StopServiceReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="ACTION_STOP_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.PowerConnectionReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ScheduledAutoStartReceiver">
            <intent-filter>
                <action android:name="com.firebirdberlin.nightdream.ACTION_START_SCHEDULED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ChargingStateChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.WakeUpReceiver">
            <intent-filter>
                <action android:name="com.firebirdberlin.nightdream.WAKEUP" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.ClockWidgetProvider"
            android:enabled="@bool/use_widget"
            android:icon="@drawable/widget_preview">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_OPTIONS_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget_info" />
        </receiver>

        <service
            android:name=".services.SqliteIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".WeatherForecastActivity"
            android:excludeFromRecents="true"
            android:label="@string/forecast"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/SecondaryActivityTheme"></activity>
        <activity
            android:name=".SetAlarmClockActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/alarm"
            android:parentActivityName=".NightDreamActivity"
            android:theme="@style/AlarmClockActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.firebirdberlin.nightdream.CastOptionsProvider" />
    </application>

</manifest>