<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="@CONFIG.PACKAGENAME@"
    android:versionCode="131"
    android:versionName="2.4.18">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_nightdream">

        <service
            android:name=".NightDreamService"
            android:label="@string/app_name"
            android:exported="true"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.service.dream"
                android:resource="@xml/nightdream" />
        </service>

    <service android:name="@CONFIG.PACKAGENAME@.mNotificationListener"
        android:label="@string/app_name"
        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        android:enabled="@bool/use_NotificationListenerService">
        <intent-filter>
            <action android:name="android.service.notification.NotificationListenerService" />
        </intent-filter>
    </service>

    <service
        android:name="@CONFIG.PACKAGENAME@.accNotificationListener"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:enabled="@bool/use_AccessibilityService">
        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService" />
        </intent-filter>
    </service>

    <service android:enabled="true" android:name=".NightModeListener" />
    <service android:enabled="true" android:name=".services.AlarmService" />
    <service android:enabled="true" android:name=".services.DownloadWeatherService" />
    <service android:enabled="true" android:name=".services.LocationService" />
    <service android:enabled="true" android:name=".services.RadioStreamService" />
    <service android:enabled="true" android:name=".services.WeatherService" />

    <activity android:name=".PreferencesActivity"></activity>
    <activity android:name=".PreferencesActivityv9"></activity>
    <activity android:name=".NightDreamActivity"
        android:enabled="true"
        android:launchMode="singleTop"
        android:label="@string/app_name"
        android:icon="@drawable/ic_nightdream"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:configChanges="orientation|keyboard|screenSize">

        <intent-filter android:label="@string/app_name">
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <receiver
        android:name=".PowerConnectionReceiver"
        android:enabled="true">
        <intent-filter>
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
        </intent-filter>
    </receiver>

    <receiver
        android:name=".ChargingStateChangeReceiver"
        android:enabled="true">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            <action android:name="android.intent.action.AIRPLANE_MODE"/>
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
        </intent-filter>
    </receiver>

    <receiver android:name=".receivers.WakeUpReceiver">
        <intent-filter>
            <action android:name="com.firebirdberlin.nightdream.WAKEUP"/>
        </intent-filter>
    </receiver>

    <receiver android:name=".BootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            <action android:name="android.intent.action.PACKAGE_REPLACED"></action>
        </intent-filter>
    </receiver>
</application>
</manifest>
